/hackathon-msac-public/

.DS_Store
backend/uploads/
/venv/
/ai_core/.venv/
/ai_core/core/__pycache__/
/ai_core/.env
/ai_core/jre_training_audio.wav/
ai_core/fine_tuning/jre_training_audio.wav/
/ai_core/__pycache__/